{% extends "header.html" %}

{% block body %}

    <div class="container">
 
      <div class="jumbotron">
        <h1>Change Password</h1>
        <form class="change-password" method=POST action="/change-password">
            <label for="inputOldPassword" class="sr-only">Old Password</label>
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" required autofocus>
            <label for="inputNewPassword1" class="sr-only">Old Password</label>
                <input type="password" name="newPassword1" id="newPassword1" class="form-control" placeholder="New Password Password" required autofocus>  
            <label for="inputNewPassword2" class="sr-only">Old Password</label>
                <input type="password" name="newPassword2" id="newPassword2" class="form-control" placeholder="Confirm New Password" required autofocus>  
            
                <button type=submit id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>

      </div>
 
        
    </div>
  {% endblock  %}