{% extends "header.html" %}

{% block body %}

<h3>Thank you for choosing Gambler's Paradise!<br>
Here you will find a comprehensive list of the tools we offer to meet your degenerate needs!
</h3> 
<hr />
<br>


<h4 style=font-weight:bold;>Friends</h4>
  <h6>Our platform allows you to add friends using the 'Add Friend' button on the 'Home' screen and to view your list of friends from the 'Account' page.</h6>
<br>
<h4 style=font-weight:bold;>Feed</h4>
  <h6>Gambler's Paradise offers a social media feed enabling you to share your bets and view those of your friends.</h6>
<br>
<h4 style=font-weight:bold;>Bets</h4>
<h6>You can enter bets using the 'New Bet' button on the 'Account' page.</h6>

<style>
p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 150px;
  margin-left: 80px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 40px;
}
h4{
  margin-left: 40px;
  text-decoration: underline;
}
h3{
  text-align: center;
  font-weight: 700;
}
hr{
  width: 100%;
  height: 5px;
  background-color: black;
}

</style>
{% endblock  %}