{% extends "header.html" %}

{% block body %}

<p>Thank you for choosing Gambler's Paradise! Here you will find a comprehensive list of the tools we offer to meet your degenerate needs!</p>
<br> <br> 


<h6>1) Friends: Our platform allows you to add friends using the 'Add Friend' button on the 'Home' screen and to view your list of friends from the 'Account' page.</h6>
<br>
<h6>2) Feed:    Gambler's Paradise offers a social media feed enabling you to share your bets and view those of your friends.</h6>
<br>
<h6>3) Bets:    You can enter bets using the 'New Bet' button on the 'Account' page.</h6>

<style>
p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 150px;
  margin-left: 80px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
}

</style>
{% endblock  %}