{% extends "header.html" %}

{% block body %}




<div class="feed">
    <div class="feed__header">
      <h2>Home</h2>
    </div>

    <!-- tweetbox starts -->
    <div class="tweetBox">
      <form id="betform" class="new-bet" method=POST action="/new-bet">
        <div class="tweetbox__input">
          <label for="betAmount" class="sr-only">Bet Amount</label>
                <input type="number" name="betAmount" id="inputBet" placeholder="Bet Amount" required autofocus>
              <br>

            
            <label for="league" >Choose a League</label>
                <select name="league" id="league" form="betform" onchange="get_games(value)" required autofocus>
                  <option value ="" selected disabled hidden>Choose here</option>
                  <option value="americanfootball_nfl">NFL</option>
                  <option value="basketball_nba">NBA</option>
                  <option value="americanfootball_ncaaf">NCAAF</option>
                </select>
                <input type="hidden" name="league">
              <br>
              
            <label for="Game">Choose a Game</label>
                <select name="game" id="game"  form="betform"required>
                  <option value ="" selected disabled hidden>Choose League first</option>
                </select>
            <br>
            <div>
            <input class="radio1" type="radio" id="over" name="OU" value="over"><label class="radio1"for="over">Over</label>
            <input class="radio2" type="radio" id="under" name="OU" value="under"><label class="radio2"for="under">Under</label>
            </div>
            <br>
            
            <button  type=submit id="btnSubmit" class="tweetBox__tweetButton">Submit</button>
        </div>
      </form>
    </div>
    <!-- tweetbox ends -->

    <!-- post starts -->
    <br>
    <div class="feed">
      <h2 style="color:rgba(0, 0, 139, 0.788); text-align: center; font-family: 'Helvetica Neue'">My Feed</h2>
    </div>
    <hr>
    <br>
    {% for bet in bets %}
    <div class="post">
      <div class="post__avatar">
        <img
          src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
          alt=""
        />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3><b>{{bet[8]}}</b> <span style="color: dodgerblue;">&#10003;</span></h3> 
            <hr>
          </div>
          <div class="post__headerDescription">
            <h7>{{ bet[12] }} vs. {{ bet[13] }} on {{bet[14]}} </h7>
            {% if bet[6] == 1 %}
              <p>${{bet[0]}} on OVER {{bet[3]}} points</p>
            {% else %}
            <p>${{bet[0]}} on UNDER {{bet[3]}} points</p>
            {% endif %}
            <!-- <p>{{bet}}</p> -->
          </div>
        </div>
        <div class="post__footer">
           <button onclick="like( this, '/like/{{bet[2]}}')"style="border: none;background:none; color:red;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg> 
          <b>{{bet[10]}}</b> 
          </button>
         
          <span class="material-icons" style="color: grey;">{{bet[1]}}</span>
          <a href="/comment/{{bet[2]}}"><button style="border: none;background:none;"> <img src="https://www.pngfind.com/pngs/m/247-2474217_png-file-svg-comment-icon-transparent-png.png" style="width:50px;height:20px;"> </button> </a>
          
          </div>
          <br>
          <h5>Replies:</h5>
          <hr>
          {% for comment in comments%}
            {% if bet[2] == comment[1] %}
              <b>{{comment[3]}}:</b> {{comment[2]}} <br>
            {% endif %}
          {% endfor %}
        </div>

      
    </div>
    {% endfor %}
    <!-- post ends -->
  </div>
  </div>
    <script>
      function get_games(league){
        removeGames();
        $("select#game").hide()

        var serializedData = $("select#league").serialize();
        console.log( serializedData );
        $.ajax({
          type: "GET",
          url: "/get-games",
          data: serializedData,
          success: function( response ){
            games = response['success']
            $.each(games, function(i, teams){
              $('select#game').append('<option value="'+teams[0]+'">' + teams[1] + ' vs ' + teams[2] + ' ' + teams[3] + ' ' + teams[4] + '</option>' );
                console.log( teams );
              });
            $("select#game").show()

          },
          error: function( xhr, status, error ){
            console.log( "request failed " );
          }
        });
      }
      function removeGames(){
        const myNode = document.getElementById("game");
        myNode.innerHTML = '';
      }
      function like(param, url){
        console.log(url)
        $.ajax({
          type: "POST",
          url: url,
          success: function(data) {
            var like_val = param.getElementsByTagName("B");
            like_val[0].innerHTML = parseInt(like_val[0].innerHTML) + 1;
            console.log(like_val[0].innerHTML);
          },
          error: function(data){
            console.log(data);
          }
        });
      };
    
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }
          
          body {
            --twitter-color: #50b7f5;
            --twitter-background: #e6ecf0;
          }
          
          .sidebarOption {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          
          .sidebarOption .material-icons,
          .fa-twitter {
            padding: 20px;
          }
          
          .sidebarOption h2 {
            font-weight: 800;
            font-size: 20px;
            margin-right: 20px;
          }
          
          .sidebarOption:hover {
            background-color: var(--twitter-background);
            border-radius: 30px;
            color: var(--twitter-color);
            transition: color 100ms ease-out;
          }
          
          .sidebarOption.active {
            color: var(--twitter-color);
          }
          
          .sidebar__tweet {
            width: 100%;
            background-color: var(--twitter-color);
            border: none;
            color: white;
            font-weight: 900;
            border-radius: 30px;
            height: 50px;
            margin-top: 20px;
          }
          
          body {
            display: flex;
            height: 100vh;
            max-width: 1300px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 10px;
          }
          
          .sidebar {
            border-right: 1px solid var(--twitter-background);
            flex: 0.2;
          
            min-width: 250px;
            margin-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
          }
          
          .fa-twitter {
            color: var(--twitter-color);
            font-size: 30px;
          }
          
          /* feed */
          .feed {
            flex: 0.5;
            border-right: 1px solid var(--twitter-background);
            min-width: fit-content;
            overflow-y: scroll;
          }
          
          .feed__header {
            position: sticky;
            top: 0;
            color: goldenrod;
            background-color: rgba(0, 0, 139, 0.788);
            z-index: 100;
            border: 1px solid var(--twitter-background);
            padding: 15px 20px;
          }
          
          .feed__header h2 {
            font-size: 20px;
            font-weight: 800;
          }
          
          .feed::-webkit-scrollbar {
            display: none;
          }
          
          .feed {
            -ms-overflow-style: none;
            scrollbar-width: none;
          }
          
          /* tweet box */
          .tweetbox__input img {
            border-radius: 50%;
            height: 40px;
          }
          
          .tweetBox {
            padding-bottom: 10px;
            border-bottom: 8px solid var(--twitter-background);
            padding-right: 10px;
          }
          
          .tweetBox form {
            display: flex;
            flex-direction: column;
          }
          
          .tweetbox__input {
            display: flex;
            padding: 20px;
            flex-direction: column;
          }
          form input.radio1{
            margin-left: 20px;
          }
          form input.radio2{
            margin-left: 20px;
          }
          .tweetbox__input input {
            flex: 1;
            margin-left: 20px;
            font-size: 20px;
            border: none;
            outline: none;
          }
          
          .tweetBox__tweetButton {
            background-color: rgba(0, 0, 139, 0.788); /*var (--twitter-color)*/
            border: none;
            color: goldenrod;
            font-weight: 900;
          
            border-radius: 30px;
            width: 80px;
            height: 40px;
            margin-top: 20px;
            margin-left: auto;
          }
          
          /* post */
          .post__avatar img {
            border-radius: 50%;
            height: 40px;
          }

          .feed{
            background-color: #f8f8ff;
          }
          
          .post {
            display: flex;
            align-items: flex-start;
            border-bottom: 1px solid var(--twitter-background);
            padding-bottom: 10px;
            background-color: #f8f8ff;
          }
          
          .post__body img {
            width: 450px;
            object-fit: contain;
            border-radius: 20px;
          }
          
          .post__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          }
          
          .post__badge {
            font-size: 14px !important;
            color: var(--twitter-color);
            margin-right: 5px;
          }
          
          .post__headerSpecial {
            font-weight: 600;
            font-size: 12px;
            color: gray;
          }
          
          .post__headerText h3 {
            font-size: 15px;
            margin-bottom: 5px;
          }
          
          .post__headerDescription {
            margin-bottom: 10px;
            font-size: 15px;
          }
          
          .post__body {
            flex: 1;
            padding: 10px;
          }
          
          .post__avatar {
            padding: 20px;
          }
          
          /* widgets */
          .widgets {
            flex: 0.3;
          }
          
          .widgets__input {
            display: flex;
            align-items: center;
            background-color: var(--twitter-background);
            padding: 10px;
            border-radius: 20px;
            margin-top: 10px;
            margin-left: 20px;
          }
          
          .widgets__input input {
            border: none;
            background-color: var(--twitter-background);
          }
          
          .widgets__searchIcon {
            color: gray;
          }
          
          .widgets__widgetContainer {
            margin-top: 15px;
            margin-left: 20px;
            padding: 20px;
            background-color: #f5f8fa;
            border-radius: 20px;
          }
          
          .widgets__widgetContainer h2 {
            font-size: 18px;
            font-weight: 800;
          }
    </style>


{% endblock  %}