{% extends "header.html" %}

{% block body %}

<!-- <h1>this will be the main homepage</h1> -->

<img src="https://production.listennotes.com/podcasts/gamblers-paradise-fRwzZUEL_b1-Tczl16baZUJ.1400x1400.jpg" alt="Welcome to Gambler's Paradise!" style="width:450px;height:400px;" class = "center">

<div class="center">
  <h2>Find friends</h2>
<table class="center">
<tr>
    <th>Username</th>
    <th>View Profile</th>
    <th>AddFriend</th>
  </tr>
  {% for user in users %}
    <tr>
        <td>{{user[0]}}</td>
        <td><a href="/profile/{{user[0]}}"><button class="btn btn-sm btn-primary btn-block">View Profile</button></a></td>
        <td><a href="/add-friend/{{user[0]}}"><button class="btn btn-sm btn-primary btn-block">Add Friend</button></a></td>
    </tr>
  {% endfor %}

</table>
</div>



<style>
    table, th, td{
    border:1px solid black;
    }
    th{
        padding: .5rem;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
}


</style>


{% endblock  %}

