{% extends "header.html" %}

{% block body %}

<!-- <h1>this will be the main homepage</h1> -->
<div class="img">
<img src="https://production.listennotes.com/podcasts/gamblers-paradise-fRwzZUEL_b1-Tczl16baZUJ.1400x1400.jpg" alt="Welcome to Gambler's Paradise!" style="max-width:450px;max-height:400px;height:100%;width:100%" class="center">
</div>
<br>

<div class="hello">
  <h2 style="align-self: center;">Hello there</h2> <br>
  <p>If you're on this website, it's probably because we have something in common. Namely, you have a love for (read: addiction to) gambling. Well, you're in the right place! Welcome to Gambler's Paradise, a place where you can connect with the finest minds in the sports gambling universe and bask in the glory that is degeneracy!</p>
</div>
<div class="center">
  <h2>Find friends</h2>
<table class="center">
<tr>
    <th>Username</th>
    <th>View Profile</th>
    <th>AddFriend</th>
  </tr>
  
    {% for user in users %}
      <tr>
          <td>{{user[0]}}</td>
          <td><a href="/profile/{{user[0]}}"><button class="btn btn-sm btn-primary btn-block">View Profile</button></a></td>
          <td><button onclick="addfriend( '/add-friend/{{user[0]}}')" class="btn btn-sm btn-primary btn-block" id="add-friend">Add Friend</button></td>
      </tr>
    {% endfor %}

</table>
</div>



<style>
    th, td{
    border:1px solid black;
    }

    th{
        padding: .5rem;
    }
    .img{
      background-color: white;
    }
    .center {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; 
      font-family: 'Helvetica Neue';
    }
    .hello{
      display: inline-block;
      float: left;
      width: 50%;
      margin-left: 50px;
      font-family: 'Helvetica Neue';
    }
    h2{
      align-self: center;
    }
    tr{
      margin: 10px;
    }
    table{
      margin: 20px;
      border: none;
    }


</style>
<script>
  function addfriend(url){
    console.log(url)
    $.ajax({
      
      type: "POST",
      url: url,
      success: function(data) {
        console.log(data);
      },
      error: function(data){
        console.log(data);
      }
    });
  };
</script>

{% endblock  %}

