{% extends "header.html" %}

{% block body %}

<!-- <h1>this will be the main homepage</h1> -->

<img src="https://production.listennotes.com/podcasts/gamblers-paradise-fRwzZUEL_b1-Tczl16baZUJ.1400x1400.jpg" alt="Welcome to Gambler's Paradise!" style="max-width:450px;max-height:400px;height:100%;width:100%" class = "center">

<div class="center">
  <h2>Find friends</h2>
<table class="center">
  <tr>
      <th>Username</th>
      <th>View Profile</th>
      <th>AddFriend</th>
    </tr>
    {% for user in users %}
      <tr>
          <td>{{user[0]}}</td>
          <td><a href="/profile/{{user[0]}}"><button class="btn btn-sm btn-primary btn-block">View Profile</button></a></td>
          <td><button onclick="addfriend( '/add-friend/{{user[0]}}')" class="btn btn-sm btn-primary btn-block" id="add-friend">Add Friend</button></td>
      </tr>
    {% endfor %}

</table>
</div>



<style>
    th, td{
    border:1px solid black;
    }

    th{
        padding: .5rem;
    }
    .center {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; 
    }
    h2{
      align-self: center;
    }
    tr{
      margin: 10px;
    }
    table{
      margin: 20px;
    }


</style>
<script>
  function addfriend(url){
    console.log(url)
    $.ajax({
      
      type: "POST",
      url: url,
      success: function(data) {
        console.log(data);
      },
      error: function(data){
        console.log(data);
      }
    });
  };
</script>

{% endblock  %}

