<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gambler's Paradise</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
  <body id="override">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-left mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
          <li><a href="/login"><button type="button" class="btn btn-outline-primary me-2" href="/login">Login</button></a></li>
          <li><a href="/sign-up"><button type="button" class="btn btn-primary" href="/sign-up">Sign-up</button></a></li>
        </ul>
    </header>

    <div class="container">
 
      <div class="jumbotron">
        <h1>Gambler's Paradise</h1>
        <form class="form-signin">
            <label for="inputUserName" class="sr-only">User Name</label>
                <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            
            <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
        </form>
      </div>
 
       
 
    </div>
  </body>
</html>