{% extends "header.html" %}

{% block body %}

    <div class="container">
 
      <div class="jumbotron">
        <h1>Submit a new bet</h1>
        <form id="betform" class="new-bet" method=POST action="/new-bet">
            <label for="betAmount" class="sr-only">Bet Amount</label>
                <input type="number" name="betAmount" id="inputBet" placeholder="Bet Amount" required autofocus>
              <br>

            
            <label for="league" >Choose a League</label>
                <select name="league" id="league" form="betform" onchange="get_games(value)" required autofocus>
                  <option selected disabled>Choose here</option>
                  <option value="americanfootball_nfl">NFL</option> -->
                  <!-- <option value="baseball_mlb">NHL</option> -->
                  <!-- <option value="baseball_mlb">MLB</option> -->
                  <option value="basketball_nba">NBA</option> -->
                  <option value="americanfootball_ncaaf">NCAAF</option> -->
                </select>
                <input type="hidden" name="league">
              <br>
              
            <label for="Game">Choose a Game</label>
                <select name="game" id="game"  form="betform"required>
                  <option selected disabled>Choose League first</option>
                </select>
            <br>
            <input type="radio" id="over" name="OU" value="over"><label for="over">Over</label>
            <input type="radio" id="under" name="OU" value="under"><label for="under">Under</label>
                <br>
            <button type=submit id="btnSubmit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>

      </div>
 
        
    </div>
    <script>
      function get_games(league){
        removeGames();
        $("select#game").hide()

        var serializedData = $("select#league").serialize();
        console.log( serializedData );
        $.ajax({
          type: "GET",
          url: "/get-games",
          data: serializedData,
          success: function( response ){
            
            games = response['success']
            $.each(games, function(i, teams){
              $('select#game').append('<option value="'+teams[0]+'">' + teams[1] + ' vs ' + teams[2] + ' ' + teams[3] + ' ' + teams[4] + '</option>' );
                console.log( teams );
              });
            $("select#game").show()

          },
          error: function( xhr, status, error ){
            console.log( "request failed " );
          }
        });
      }
      function removeGames(){
        const myNode = document.getElementById("game");
        myNode.innerHTML = '';
      }
    </script>
  {% endblock  %}