{% extends "header.html" %}

{% block body %}
<style>
  h1 {text-align: center;}
</style>
      <div>

        <a href="/add-friend/{{account_name}}"><button type="button" class="btn btn-outline-primary me-2">Add friend</button></a>

        <header>
          <h1>Profile for {{account_name}}</h1>
        </header>

      </div>
      <br>
      <body>
        <h1>StatCast</h1>
        <h6 class="stats">
        Friends: {% for friend in friends %}
        {{ friend }} 
        {% endfor %} <br>
        Wins: <br>  
        Losses: <br>
        W/L Percentage: <br>
        Total Earnings: <br>
        </h6>
      </body>


      <style>
        .stats {
          background-color: Gainsboro;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-right: 150px;
          margin-left: 80px;
          border-radius: 5px;
          padding-top: 50px;
          padding-right: 30px;
          padding-bottom: 50px;
          padding-left: 80px;
        }
      </style>

{% endblock  %}